.link{
  /*height:28px;
  width:300px;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /*float:right;*/
}

.link-item{
  padding: 5px;
  margin-right: 15px;
  text-decoration: none;
  color: black;
}
.link-item:hover{
  text-decoration: underline;
  color: black;
}
.link-item:active{
  color: black;
}
.link-item:visited{
  color: black;
}

.link1{
  height:28px;
  width:300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  float:right;
}

.search-bar{
  display: flex;
  height: 45px;
  width: 580px;
  border:1px solid rgb(223, 225, 229);
  border-radius: 24px;
  background: rgb(255, 255, 255);
  z-index: 3;
  box-shadow: none;
  margin:0 auto;
  align-items: center;
  justify-content:center;
  margin-top: 10px;
  padding:0px 15px;
 

}

.buttons{
  align-items: flex-start;
  appearance: auto;
  background-color: rgb(248, 249, 250);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: rgb(60, 64, 67);
  cursor: pointer;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  height: 36px;
  letter-spacing: normal;
  line-height: 27px;
  min-width: 54px;
  padding:0px 16px;
  border:none;
  margin:25px 8px;
}
.buttons:hover{

  box-shadow: 1px 1px 2px 1px  rgb(129, 124, 124);
  border-radius: 4px; 
}

.l1{
  display: flex;
  align-items: center;
  justify-content:center;
  margin:auto ;
}

.centre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}


.logo1{
  /*border-color: rgb(217, 48, 37);
  display: inline;
  font-family :Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  margin-left: 30px;
  
  text-decoration-color:rgb(217, 48, 37);
  text-decoration-style: solid;
  color:rgb(217, 48, 37) ;*/
  color: #d93025;
  font-size: 20px;
  margin-left: 25px;
  font-family: Arial, sans-serif;
  font-weight: 400;
}
hr{
  color: rgb(183, 181, 181);
}

.centre{
  display:block;
  justify-content: center;
  align-items: center;
  margin-top: 158px;
}
.line{
  border-bottom: 1px solid #ebebeb;
  height: 1px;
  width:980px;
}
.heading{
 font-size: 16px;
 color:#333333;
 margin-top: 25px;
 margin-left: 35px;
 font-family: Arial, sans-serif;
 margin-bottom: 0px;
}
.logo2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.group{
  width: 100%;
  clear: both;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  text-decoration: none;
  font-family: Arial, sans-serif;
  unicode-bidi: isolate;
  margin-left:35px;
  margin-top: 25px;

}

.text{
  text-decoration: none;
  color:#333333;
  font-size: 13px;
  font-family: Arial, sans-serif;
  width:200px;

  
  }
  .space{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;


   /* min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;*/
  }
  .box-input{
    width:450px;
    height: 25px;
    padding:1px 8px;
    border: 1px solid rgb(191, 189, 189);
  }
  .button{
    margin: 10px 0px 10px 0px;
    padding:0px 12px 0px 12px;
    display: flex;
    align-items: flex-start;
    background-color:rgb(77, 144, 254);
    border-radius: 2px;
    border:1px solid;
    height: 28px;
    width:118px;
    text-align: center;
    padding-inline-end:12px;
    padding-inline-start :12px;
    border-color: rgb(54,119,223);
    font-weight: 700;
    height: 30px;
    letter-spacing: normal;
    line-height: 11px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    cursor: default;
    font-family: Arial;
    margin-left: 550px;
    margin-top: 30px;
 
  }
